.xen-card {
	z-index: 10;
	position: absolute;
	display: none;
	width: 300px;
	background: #fff;
	box-shadow: 0px 0px 10px -3px grey;
	padding: 8px;
	box-sizing: border-box;
	font-size: 13px;
}


.xen-cell {
	cursor: pointer;
}

.xen-cell:hover {
	background: #00968873;
}

.xen-cell.bg-info {
	color: #FFF;
}

table.xen-calendar-table {
	width: 100%;
	border-collapse: collapse;
	border-color: #ccc;
}

table.xen-calendar-table, .xen-calendar-table th, .xen-calendar-table  td {
	padding: 5px;
}

.xen-calendar-table th {
	width: 30px;
	font-weight: normal;
}

.xen-prev-next-btn {
	float: right;
}

.xen-prev-next-btn button {
    height: 20px;
    line-height: 13px;
    font-size: 13px;
    padding: 2px 10px;
}

.xen-form-inline {
	float: left;
}

.xen-bg-info {
	background: #009688;
	color: #FFFFFF;
}

.xen-calendar-table {
	padding-top: 5px;
}

table.xen-calendar-table {
	margin-top: 25px;
}

.xen-btn-prev {
	margin-right: 3px;
}